.CIO  {
    align-self: flex-start;
  }
  
  /* Style for User2's messages */
  .OtherSender {
    align-self: flex-end;
  }
  
  .active {
    transition: transform 0.2s;
    transform: scale(1.2);
  }
  .Tactive {
    font-weight: bold;
    background-color: #f0f0f0; 
    color: black; 
  }
  
  /* .active-user {
    background-color: #f0f0f0; 
    color: black; 
  } */
  

  #sender {
    font-weight: 500;
  }
  
  /* App.css */
  
  /* Animation for message entrance */
  .message-enter {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .message-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .message-exit {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .message-exit-active {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .content {
    animation: scroll 10s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  

  