#container {
  width: 45%;
  margin: auto;
  margin-top: 50px;
  padding: 50px 0px 80px 0px;
  font-family: Fredoka;
  font-size: 25px;
  font-weight: 500;
  box-shadow: #691212 0px 0px 0px 1px, #691212 0px 0px 0px 1px inset;
}

.containerChild {
  border: 1px solid #691212;
  width: 80%;
  margin: auto;
  padding: 5px;
  position: relative;
  transition: .4s ease-in;
  z-index: 1;
}

.containerChild ::before, .containerChild ::after{
position: absolute;
content: "";
z-index: 1;
}

.containerChild:hover{
    cursor: pointer;
    color: white;
    background-color: #17181c;
}


